.btn {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.4s ease 0s;

  &--primary {
    line-height: 1.1;
    padding: 7px 30px;
    border: none;
    border-radius: 50px;
    color: $color-white !important;
    background-color: $color-avast;
    box-shadow: $box-shadow-basic;

    &:hover {
      background-color: $color-avast-hover;
      box-shadow: $box-shadow-hover;
    }

    @include respond(lg) {
      padding: 10px 20px;
    }
  }

  &--ghost {
    color: $color-grey-50;
    padding: 0;
    text-decoration: underline;
    text-align: center;

    &:hover {
      color: $color-grey-80;
      border-bottom-color: $color-grey-80;
    }
  }
}
