.table-header {
  display: flex;
  background-color: $color-white;

  &__heading-wrapper {
    display: none;

    @include respond(lg) {
      @include flexCenter;
      flex-basis: $table-w-left;
      padding: 9px; //! TEMP
    }
  }

  // &__heading {
  //   color: green;

  //   @include respond(md) {
  //     color: red;
  //   }

  //   @include respond(lg) {
  //     color: blue;
  //   }

  //   @include respond(xl) {
  //     color: yellow;
  //   }
  // }

  &__items {
    flex-basis: $table-w-right;
    display: flex;
  }

  &__item {
    width: 25%;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: $color-white;

    & > * {
      max-width: 100%;
    }
  }

  &__item-heading {
    margin-bottom: 5px;
  }

  &__item-description {
    flex: 1 1 auto;
    margin-bottom: 15px;
  }

  &__item-img {
    margin-bottom: 20px;
  }

  &__item-price {
    font-size: 40px;
    font-weight: 700;
    position: relative;
    margin-bottom: 30px;

    &--paid {
      &::before {
        content: '$';
        font-size: 22px;
        font-weight: 400;
        position: absolute;
        top: -6px;
        left: -14px;
      }

      &::after {
        content: '/year';
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .recommended {
    border: $recommended-border;
    border-bottom: none;

    &::before {
      content: 'recommended';
      text-transform: uppercase;
      color: $color-white;
      background-color: $color-avast;
      padding: 0px 10px;
      border-radius: 5px;
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.table-header--sticky {
  box-shadow: $box-shadow-basic;

  .table-header {
    &__heading-wrapper {
      @include respond(lg) {
        padding: 30px;
      }
    }

    &__heading {
      font-size: 2.5rem;
    }

    &__item-img {
      display: none;
    }
  }

  .recommended {
    border: none !important;

    &::before {
      display: none !important;
    }
  }
}
